In [1]:
import pandas as pd
import json
import numpy as np
import csv

In [2]:
data = json.load(open('san_francisco_censustracts.json'))

In [3]:
filen=open('processed.csv','w')
ff=csv.writer(filen,delimiter='|', lineterminator='\n')

In [94]:
import sys
reload(sys)
sys.setdefaultencoding('utf8')
for i in range(0,len(data['features'])):
    cod= (np.asarray(data['features'][i]['geometry']['coordinates'][0][0])).mean(0)
    #print data['features'][i]['properties']['DISPLAY_NAME']
    #print data['features'][i]['properties']['MOVEMENT_ID']
    mylist= [data['features'][i]['properties']['MOVEMENT_ID'],data['features'][i]['properties']['DISPLAY_NAME'],cod[0],cod[1]]
    ff.writerow(mylist)
filen.close()

In [44]:
(np.asarray(data['features'][0]['geometry']['coordinates']))[0][0].mean(0)

array([-120.78868462,   36.07162944])

In [47]:
data['features'][0]['properties']['DISPLAY_NAME']

u'Sargent Creek, San Ardo'

In [4]:
df=pd.read_csv("san_francisco-censustracts-2017-4-All-MonthlyAggregate.csv")

In [6]:
df.head()

,sourceid,dstid,month,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
0,434,906,10,188.09,116.06,168.73,1.54
1,1311,3,10,1300.10,377.45,1261.17,1.26
2,1736,2,10,805.12,344.87,744.22,1.47
3,560,2375,10,1627.73,533.35,1552.00,1.35
4,1628,2367,10,1228.89,452.52,1167.50,1.36

In [7]:
df=df[df['month']==12]

In [8]:
df1=df[['sourceid','dstid','mean_travel_time']]

In [9]:
len(df1)

538998

In [10]:
arr=df1.values

In [11]:
len(arr)

538998

In [12]:
for i in range(0,len(arr)):
    if(arr[i][0]>arr[i][1]):
        t=arr[i][0]
        arr[i][0]=arr[i][1]
        arr[i][1]=t

In [13]:
newdf=pd.DataFrame(arr)

In [14]:
newdf.head()

        0       1        2
0  1938.0  1952.0   596.69
1   629.0  1747.0  1454.81
2  1872.0  1919.0  1227.01
3  1871.0  1929.0  1005.54
4    81.0  2319.0   474.53

In [16]:
arr1=((newdf.groupby([0,1]).mean()).reset_index()).values

In [17]:
len(arr1)

311812

In [18]:
outfile = open("processedgraph.txt", "w")
for i in range(0,len(arr1)):
    line=str('%d'%arr1[i][0])+'\t'+str('%d'%arr1[i][1])+'\t'+str('%.3f'%arr1[i][2]) + '\n'
    outfile.write(line)
outfile.close()